In [1]:
import pandas as pd
import yfinance as yf
import datetime
import os
import numpy as np

In [2]:
Sheets = dict()
for path,dirs,files in os.walk("./data/raw"):
    sort = np.argsort(files)
    year = path.split("/")[-1]
    if year not in 'raw':
        Sheets[year] = []
    for file in np.array(files)[sort]:
        if file not in ".DS_Store":
            Sheets[year].append(pd.read_excel(path+"/"+file, sheet_name=["Champions"], header=5))

13-01_U.S.DividendChampions.xls
13-02_U.S.DividendChampions.xls
13-03_U.S.DividendChampions.xls
13-04_U.S.DividendChampions.xls
13-05_U.S.DividendChampions.xls
13-06_U.S.DividendChampions.xls
13-07_U.S.DividendChampions.xls
13-08_U.S.DividendChampions.xls
13-09_U.S.DividendChampions.xls
13-10_U.S.DividendChampions.xls
13-11_U.S.DividendChampions.xls
13-12_U.S.DividendChampions.xls
14-01_U.S.DividendChampions.xls
14-02_U.S.DividendChampions.xls
14-03_U.S.DividendChampions.xls
14-04_U.S.DividendChampions.xls
14-05_U.S.DividendChampions.xls
14-06_U.S.DividendChampions.xls
14-07_U.S.DividendChampions.xls
14-08_U.S.DividendChampions.xls
14-09_U.S.DividendChampions.xls
14-10_U.S.DividendChampions.xls
14-11_U.S.DividendChampions.xls
14-12_U.S.DividendChampions.xls
15-01_U.S.DividendChampions.xls
15-02_U.S.DividendChampions.xls
15-03_U.S.DividendChampions.xls
15-04_U.S.DividendChampions.xls
15-05_U.S.DividendChampions.xls
15-06_U.S.DividendChampions.xls
15-07_U.S.DividendChampions.xls
15-08_U.S.DividendChampions.xls
15-09_U.S.DividendChampions.xls
15-10_U.S.DividendChampions.xls
15-11_U.S.DividendChampions.xls
15-12_U.S.DividendChampions.xls
12-01_U.S.DividendChampions.xls
12-02_U.S.DividendChampions.xls
12-03_U.S.DividendChampions.xls
12-04_U.S.DividendChampions.xls
12-05_U.S.DividendChampions.xls
12-06_U.S.DividendChampions.xls
12-07_U.S.DividendChampions.xls
12-08_U.S.DividendChampions.xls
12-09_U.S.DividendChampions.xls
12-10_U.S.DividendChampions.xls
12-11_U.S.DividendChampions.xls
12-12_U.S.DividendChampions.xls
17-01_U.S.DividendChampions.xls
17-02_U.S.DividendChampions.xls
17-03_U.S.DividendChampions.xls
17-04_U.S.DividendChampions.xls
17-05_U.S.DividendChampions.xls
17-06_U.S.DividendChampions.xls
17-07_U.S.DividendChampions.xls
17-08_U.S.DividendChampions.xls
17-09_U.S.DividendChampions.xls
17-10_U.S.DividendChampions.xls
17-11_U.S.DividendChampions.xls
17-12_U.S.DividendChampions.xls
10-01_U.S.DividendChampions.xls
10-02_U.S.DividendChampions.xls
10-03_U.S.DividendChampions.xls
10-04_U.S.DividendChampions.xls
10-05_U.S.DividendChampions.xls
10-06_U.S.DividendChampions.xls
10-07_U.S.DividendChampions.xls
10-08_U.S.DividendChampions.xls
10-09_U.S.DividendChampions.xls
10-10_U.S.DividendChampions.xls
10-11_U.S.DividendChampions.xls
10-12_U.S.DividendChampions.xls
19-01_U.S.DividendChampions.xlsx
19-02_U.S.DividendChampions.xlsx
19-03_U.S.DividendChampions.xlsx
19-04_U.S.DividendChampions.xlsx
19-05_U.S.DividendChampions.xlsx
19-06_U.S.DividendChampions.xlsx
19-07_U.S.DividendChampions.xlsx
19-08_U.S.DividendChampions.xlsx
19-09_U.S.DividendChampions.xlsx
19-10_U.S.DividendChampions.xlsx
19-11_U.S.DividendChampions.xlsx
19-12_U.S.DividendChampions.xlsx
21-01_U.S.DividendChampions.xlsx
21-02_U.S.DividendChampions.xlsx
21-03_U.S.DividendChampions.xlsx
21-04_U.S.DividendChampions.xlsx
20-01_U.S.DividendChampions.xlsx
20-02_U.S.DividendChampions.xlsx
20-03_U.S.DividendChampions.xlsx
20-04_U.S.DividendChampions.xlsx
20-05_U.S.DividendChampions.xlsx
20-06_U.S.DividendChampions.xlsx
20-07_U.S.DividendChampions.xlsx
20-08_U.S.DividendChampions.xlsx
20-09_U.S.DividendChampions.xlsx
20-10_U.S.DividendChampions.xlsx
20-11_U.S.DividendChampions.xlsx
20-12_U.S.DividendChampions.xlsx
18-01_U.S.DividendChampions.xls
18-02_U.S.DividendChampions.xls
18-03_U.S.DividendChampions.xls
18-04_U.S.DividendChampions.xls
18-05_U.S.DividendChampions.xls
18-06_U.S.DividendChampions.xls
18-07_U.S.DividendChampions.xls
18-08_U.S.DividendChampions.xls
18-09_U.S.DividendChampions.xls
18-10_U.S.DividendChampions.xls
18-11_U.S.DividendChampions.xls
18-12_U.S.DividendChampions.xls
11-01_U.S.DividendChampions.xls
11-02_U.S.DividendChampions.xls
11-03_U.S.DividendChampions.xls
11-04_U.S.DividendChampions.xls
11-05_U.S.DividendChampions.xls
11-06_U.S.DividendChampions.xls
11-07_U.S.DividendChampions.xls
11-08_U.S.DividendChampions.xls
11-09_U.S.DividendChampions.xls
11-10_U.S.DividendChampions.xls
11-11_U.S.DividendChampions.xls
11-12_U.S.DividendChampions.xls
16-01_U.S.DividendChampions.xls
16-02_U.S.DividendChampions.xls
16-03_U.S.DividendChampions.xls
16-04_U.S.DividendChampions.xls
16-05_U.S.DividendChampions.xls
16-06_U.S.DividendChampions.xls
16-07_U.S.DividendChampions.xls
16-08_U.S.DividendChampions.xls
16-09_U.S.DividendChampions.xls
16-10_U.S.DividendChampions.xls
16-11_U.S.DividendChampions.xls
16-12_U.S.DividendChampions.xls

In [3]:
years = sorted(list(Sheets.keys())[1:])
years = years[1:]

In [4]:
tickers = []

for year in years:
    for i in range(len(Sheets[year])):
        symbols = Sheets[year][i]['Champions']['Symbol']
        
        notna = pd.notna(symbols)
        symbols = symbols[notna].values.astype('<U5')
        
        notnum = np.char.isalpha(symbols)
        symbols = symbols[notnum]
        
        tickers.append(symbols)

In [26]:
k = 0
ct=0
lost_status_date = []
lost_status = []

kept_status_date = []
kept_status = []

for i, year in enumerate(years):
    for j in range(len(Sheets[year])):
        if k!=0:
            prev = tickers[k-1]
            curr = tickers[k]
            lost = [sym not in curr for sym in prev]
            kept = [sym in curr for sym in prev]
            if list(prev[lost]):
                ct+=len(prev[lost])
                lost_status_date.append((year, j, prev[lost]))
                lost_status = np.concatenate([lost_status, prev[lost]])
                kept_status_date.append((year,j,prev[kept]))
                kept_status = np.concatenate([kept_status, prev[kept]])

        k+=1

In [30]:
lost_status

array(['BXS', 'BOH', 'LLY', 'TEG', 'TFX', 'WSC', 'IRET', 'CTL', 'HGIC',
       'WRE', 'ABT', 'MHP', 'PBI', 'DBD', 'EGN', 'WAG', 'FDO', 'SIAL',
       'CB', 'MHFI', 'STR', 'RAVN', 'PNY', 'HCP', 'CLC', 'LLTC', 'VAL',
       'BCR', 'WGL', 'PX', 'VVC', 'BMS', 'CTWS', 'WTR', 'TYCB', 'HP',
       'MDP', 'UTX', 'ROST', 'SKT', 'UBA', 'RTX', 'EV'], dtype='<U32')

In [57]:
kept_status = np.array(list(set(kept_status)))
kept_status = np.array(list(set(kept_status).difference(lost_status)))
kept_status

array(['SWK', 'TMP', 'LIN', 'BEN', 'SYK', 'SON', 'T', 'NFG', 'ITW', 'SCL',
       'MKC', 'TGT', 'BRC', 'CHD', 'UBSI', 'CL', 'MGRC', 'ABM', 'AFL',
       'MMM', 'SPGI', 'CTBI', 'TDS', 'ADP', 'SRCE', 'EXPD', 'TR', 'CFR',
       'FRT', 'MCY', 'CINF', 'ROP', 'MSA', 'JNJ', 'FUL', 'ADM', 'ARTNA',
       'UVV', 'ENB', 'ATR', 'TNC', 'PH', 'AWR', 'NJR', 'CNI', 'BDX',
       'CLX', 'SHW', 'CSL', 'NC', 'WABC', 'CVX', 'THFF', 'RNR', 'CAT',
       'NNN', 'PEP', 'BRO', 'MDT', 'FFMR', 'PG', 'MGEE', 'PII', 'PPG',
       'CWT', 'MATW', 'EMR', 'SEIC', 'LOW', 'DCI', 'ATO', 'MO', 'LANC',
       'WBA', 'GRC', 'KO', 'JKHY', 'NEE', 'NIDB', 'RLI', 'MSEX', 'NUE',
       'CBSH', 'HRL', 'ERIE', 'UGI', 'WST', 'PBCT', 'WMT', 'PNR', 'AOS',
       'RPM', 'ALB', 'SJW', 'ED', 'TRI', 'CSVI', 'WTRG', 'TROW', 'O',
       'LECO', 'BANF', 'ORI', 'ESS', 'GPC', 'XOM', 'CPKF', 'ECL', 'GWW',
       'VFC', 'IBM', 'BKH', 'FMCB', 'LEG', 'AROW', 'SYY', 'CBU', 'APD',
       'KMB', 'DOV', 'CTAS', 'EFSI', 'EBTC', 'MDU', 'FLIC', 'NDSN', 'UHT',
       'UMBF', 'GD', 'MCD', 'OZK', 'WEYS', 'SBSI', 'PSBQ', 'NWN', 'FELE',
       'BMI'], dtype='<U5')

In [41]:
start = datetime.datetime(2010,1,1)
end = datetime.datetime(2020,1,1)

In [58]:
data_lost = yf.download(list(lost_status), start=start,end=end)

[*********************100%***********************]  43 of 43 completed

20 Failed downloads:
- VAL: Data doesn't exist for startDate = 1262322000, endDate = 1577854800
- MHFI: No data found for this date range, symbol may be delisted
- WAG: No data found for this date range, symbol may be delisted
- RAVN: No data found, symbol may be delisted
- BXS: No data found, symbol may be delisted
- HCP: Data doesn't exist for startDate = 1262322000, endDate = 1577854800
- MDP: No data found for this date range, symbol may be delisted
- WTR: No data found, symbol may be delisted
- UTX: No data found, symbol may be delisted
- PX: Data doesn't exist for startDate = 1262322000, endDate = 1577854800
- IRET: No data found, symbol may be delisted
- EV: No data found, symbol may be delisted
- CTL: No data found, symbol may be delisted
- LLTC: No data found for this date range, symbol may be delisted
- PNY: No data found for this date range, symbol may be delisted
- CTWS: No data found, symbol may be delisted
- HGIC: No data found for this date range, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- FDO: No data found for this date range, symbol may be delisted

In [59]:
data_lost

            Adj Close                                                         \
                  ABT BCR        BMS        BOH BXS          CB      CLC CTL
Date
2010-01-04  17.685947 NaN  22.947737  31.396305 NaN   37.196083      NaN NaN
2010-01-05  17.543058 NaN  22.771866  31.322918 NaN   36.358097      NaN NaN
2010-01-06  17.640482 NaN  22.878922  31.449669 NaN   35.859837      NaN NaN
2010-01-07  17.786625 NaN  23.184786  32.223564 NaN   36.063675      NaN NaN
2010-01-08  17.877556 NaN  23.368307  32.603844 NaN   35.859837      NaN NaN
...               ...  ..        ...        ...  ..         ...      ...  ..
2019-12-24  84.319969 NaN        NaN  88.013733 NaN  146.892776  31900.0 NaN
2019-12-26  84.319969 NaN        NaN  88.087692 NaN  147.665695  32000.0 NaN
2019-12-27  84.435905 NaN        NaN  87.662415 NaN  148.686722  31950.0 NaN
2019-12-30  83.856262 NaN        NaN  88.032227 NaN  148.200043  33000.0 NaN
2019-12-31  83.914215 NaN        NaN  87.976761 NaN  148.534027  33900.0 NaN

                            ... Volume                                         \
           CTWS        DBD  ...   TYCB     UBA UTX VAL      VVC WAG       WGL
Date                        ...
2010-01-04  NaN  22.059938  ...      0   97100 NaN NaN   5500.0 NaN  263994.0
2010-01-05  NaN  22.303522  ...      0  110900 NaN NaN   8000.0 NaN  295798.0
2010-01-06  NaN  23.407286  ...    200  136600 NaN NaN   3000.0 NaN  235611.0
2010-01-07  NaN  23.285494  ...      0  132700 NaN NaN  17000.0 NaN  234692.0
2010-01-08  NaN  23.468184  ...      0   56000 NaN NaN  19500.0 NaN  204567.0
...         ...        ...  ...    ...     ...  ..  ..      ...  ..       ...
2019-12-24  NaN  10.950000  ...      0   44600 NaN NaN      0.0 NaN       NaN
2019-12-26  NaN  11.290000  ...    100   49300 NaN NaN      0.0 NaN       NaN
2019-12-27  NaN  10.950000  ...      0   77800 NaN NaN      0.0 NaN       NaN
2019-12-30  NaN  10.550000  ...      0  111500 NaN NaN  28000.0 NaN       NaN
2019-12-31  NaN  10.560000  ...      0  130700 NaN NaN   1000.0 NaN       NaN


               WRE       WSC WTR
Date
2010-01-04  470000       NaN NaN
2010-01-05  602100       NaN NaN
2010-01-06  679600       NaN NaN
2010-01-07  421700       NaN NaN
2010-01-08  272000       NaN NaN
...            ...       ...  ..
2019-12-24  138200  119300.0 NaN
2019-12-26  310000  314700.0 NaN
2019-12-27  280900  259200.0 NaN
2019-12-30  579100  226000.0 NaN
2019-12-31  472200  303000.0 NaN

[2516 rows x 258 columns]

In [60]:
data_kept = yf.download(list(kept_status), start=start,end=end)

[*********************100%***********************]  137 of 137 completed

In [61]:
data_kept

            Adj Close                                                          \
                  ABM        ADM         ADP        AFL        ALB        AOS
Date
2010-01-04  16.242058  22.821878   27.358135  17.580526  31.757929   6.215639
2010-01-05  16.122887  22.945162   27.211218  18.090528  31.699572   6.136218
2010-01-06  16.122887  22.887148   27.147341  18.249449  31.757929   6.139003
2010-01-07  16.330477  22.647831   27.134571  18.445320  31.532814   6.157116
2010-01-08  16.315096  22.365005   27.096247  18.260530  32.008068   6.247684
...               ...        ...         ...        ...        ...        ...
2019-12-24  36.544579  43.288158  161.975952  49.782902  70.398651  45.583027
2019-12-26  36.946377  43.400890  162.395401  49.650803  70.564140  45.813343
2019-12-27  36.831581  43.494831  162.795792  49.650803  70.096893  45.880516
2019-12-30  36.707211  43.325733  161.670853  49.764034  70.019012  45.650200
2019-12-31  36.250587  43.541794  162.538391  49.915005  71.099525  45.717377

                                                          ...    Volume  \
                   APD       AROW      ARTNA         ATO  ...      UMBF
Date                                                      ...
2010-01-04   55.863197  13.414305  12.370217   20.464893  ...  115100.0
2010-01-05   55.399677  13.029511  12.129887   20.249981  ...   98700.0
2010-01-06   54.942863  13.013481  11.802774   20.256920  ...  103300.0
2010-01-07   54.627151  13.157774  11.902910   20.062811  ...  116200.0
2010-01-08   54.976482  13.237947  12.430295   19.730045  ...   60800.0
...                ...        ...        ...         ...  ...       ...
2019-12-24  224.061966  35.227882  34.891602  104.583916  ...   55100.0
2019-12-26  225.043808  35.479572  34.872753  104.508232  ...   79500.0
2019-12-27  224.481415  34.976185  35.211964  104.158302  ...  102100.0
2019-12-30  224.328888  35.227882  34.976402  104.479858  ...  136000.0
2019-12-31  225.114456  35.237202  35.061203  105.794495  ...  186400.0

                                                                            \
                 UVV        VFC      WABC         WBA     WEYS         WMT
Date
2010-01-04  319900.0  2168604.0  120200.0   8171000.0   3800.0  20753100.0
2010-01-05  476900.0  4370767.0  146500.0  10843200.0   6000.0  15648400.0
2010-01-06  523500.0  3084473.0  179600.0   8945400.0  18700.0  12517200.0
2010-01-07  199000.0  2807928.0  223800.0   5040700.0   7500.0  10662700.0
2010-01-08  199900.0  3122705.0  151100.0   6139800.0   5400.0  11363200.0
...              ...        ...       ...         ...      ...         ...
2019-12-24   51500.0   678900.0   27500.0   1475400.0   3500.0   2227400.0
2019-12-26   63000.0  1179600.0   23600.0   2736100.0  10800.0   4223800.0
2019-12-27   93500.0  1308600.0   70800.0   3647600.0   7800.0   3544000.0
2019-12-30  116600.0  1694600.0   59400.0   3264500.0  14100.0   2945800.0
2019-12-31  137600.0  1694100.0  111000.0   3305100.0   6700.0   4912000.0


                 WST       WTRG         XOM
Date
2010-01-04  232800.0  1959750.0  27809100.0
2010-01-05  245800.0  2192125.0  30174700.0
2010-01-06  272800.0  1461000.0  35044700.0
2010-01-07  130600.0   891125.0  27192100.0
2010-01-08  146200.0   674375.0  24891800.0
...              ...        ...         ...
2019-12-24   83600.0   276100.0   3979400.0
2019-12-26  118300.0  1768500.0   8840200.0
2019-12-27  176300.0   798200.0  10516100.0
2019-12-30  200800.0   891900.0  12689400.0
2019-12-31  480600.0  1283800.0  13151800.0

[2517 rows x 822 columns]

In [64]:
if True: 
    print("ye")
        if True:
            print("RE")

IndentationError: unexpected indent (1196845759.py, line 3)

In [65]:

d = {'a': 0, 'b': 1, 'c': 0}

if d['a'] > 0:
    print('ok')
elif d['b'] > 0:
    print('ok')
elif d['c'] > 0:
    print('ok')
elif d['d'] > 0:
    print('ok')
else:
    print('not ok')

ok