In [1]:
import pandas as pd
import yfinance as yf
import datetime
import os
import numpy as np

In [2]:
Sheets = dict()
for path, dirs, files in os.walk("./data/raw"):
    sort = np.argsort(files)
    year = path.split("/")[-1]
    if year not in 'raw':
        Sheets[year] = []
    for file in np.array(files)[sort]:
        if file not in ".DS_Store":
            Sheets[year].append(pd.read_excel(path+"/"+file, sheet_name=["Champions"], header=5))
print(path)

./data/raw/2016

In [3]:
years = sorted(list(Sheets.keys())[1:])
years = years[1:]

In [48]:
tickers = []

for year in years:
    for i in range(len(Sheets[year])):
        symbols = Sheets[year][i]['Champions']['Symbol']
        
        notna = pd.notna(symbols)
        symbols = symbols[notna].values.astype('<U5')
        
        notnum = np.char.isalpha(symbols)
        symbols = symbols[notnum]
        
        tickers.append(symbols)

In [49]:
Sheets['2012'][10]['Champions']

,Name,Symbol,Industry,Yrs,Seq,DR,SP,Price,Yield,Old,...,Deviation,Factor,Factor.1,2012,2013,2014,2015,2016,$,%
0,1st Source Corp.,SRCE,Banking,25,105.0,-,-,22.21000,3.061684,0.1600,...,6.320328,-4.545566,49.480650,0.659200,0.678976,0.699345,0.720326,0.741935,3.499782,15.757687
1,3M Company,MMM,Conglomerate,54,9.0,N,N,87.60000,2.694064,0.5500,...,3.960359,-7.683471,68.906685,2.384140,2.622554,2.884809,3.173290,3.490619,14.555413,16.615768
2,Abbott Laboratories,ABT,Drugs,40,47.0,N,N,65.50000,3.114504,0.4800,...,4.203600,-2.492646,71.026757,1.954072,2.119777,2.299534,2.494535,2.706072,11.573990,17.670214
3,ABM Industries Inc.,ABM,Business Services,45,23.0,-,-,19.00000,3.052632,0.1400,...,2.274347,-11.593545,53.595680,0.599088,0.624250,0.650468,0.677788,0.706255,3.257849,17.146572
4,AFLAC Inc.,AFL,Insurance,30,87.0,N,N,49.78000,2.812374,0.3300,...,10.736602,12.035653,77.776637,1.295313,1.424844,1.567329,1.724062,1.896468,7.908015,15.885929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Walgreen Company,WAG,Retail-Drugstores,37,62.0,N,Y,35.23000,3.122339,0.2250,...,8.445380,11.491981,79.908760,0.868000,0.954800,1.050280,1.155308,1.270839,5.299227,15.041802
102,Wal-Mart Stores Inc.,WMT,Retail-Discount,38,59.0,N,Y,75.02000,2.119435,0.3650,...,7.847464,2.779710,84.705318,1.530682,1.674566,1.831975,2.004181,2.192574,9.233977,12.308687
103,Weyco Group Inc.,WEYS,Footwear,31,81.0,-,-,23.48000,2.896082,0.1600,...,8.711089,0.188435,57.577290,0.659200,0.678976,0.699345,0.720326,0.741935,3.499782,14.905376
104,WGL Holdings Inc.,WGL,Utility-Gas,36,67.0,N,N,39.77000,4.023133,0.3875,...,0.838786,-13.419923,48.063149,1.607760,1.697795,1.792871,1.893272,1.999295,8.990993,22.607474
105,Averages for,105,Champions,39,NaN,NaN,NaN,53.26181,2.894149,NaN,...,1.993116,-11.823350,62.846520,1.378091,1.497453,1.627153,1.768088,1.921229,8.192014,15.380652

In [50]:
num_months = [len(Sheets[year]) for year in years]
num_months

[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 4]

In [63]:
year_indx = [[years[i]]*num_months[i] for i in range(len(years))]
month_indx = [list(range(len(Sheets[year])+1))[1:] for year in years]

In [74]:
year_indx = [item for sublist in year_indx for item in sublist]
month_indx = [item for sublist in month_indx for item in sublist]

In [76]:
lost_status_date = []
lost_status = []

kept_status_date = []
kept_status = []

k=0
for i, ticker in enumerate(tickers):
    if k!= 0:
        prev = tickers[k-1]
        curr = tickers[k]
        lost = [sym not in curr for sym in prev]
        kept = [sym in curr for sym in prev]
        if list(prev[lost]):
            lost_status_date.append((year_indx[i-1], month_indx[i-1], prev[lost]))

k = 0
ct=0
lost_status_date = []
lost_status = []

kept_status_date = []
kept_status = []

for i, year in enumerate(years):
    for j in range(len(Sheets[year])):
        if k!=0:
            months = np.arange(len(Sheets[year]))
            prev = tickers[k-1]
            curr = tickers[k]
            lost = [sym not in curr for sym in prev]
            kept = [sym in curr for sym in prev]
            if list(prev[lost]):
                ct+=len(prev[lost])
                lost_status_date.append((years[i-1], months[j-1]+1, prev[lost]))
                lost_status = np.concatenate([lost_status, prev[lost]])
                kept_status_date.append((year,j,prev[kept]))
                kept_status = np.concatenate([kept_status, prev[kept]])

        k+=1

In [41]:
lost_status_date

array(['BXS', 'BOH', 'LLY', 'TEG', 'TFX', 'WSC', 'IRET', 'CTL', 'HGIC',
       'WRE', 'ABT', 'MHP', 'PBI', 'DBD', 'EGN', 'WAG', 'FDO', 'SIAL',
       'CB', 'MHFI', 'STR', 'RAVN', 'PNY', 'HCP', 'CLC', 'LLTC', 'VAL',
       'BCR', 'WGL', 'PX', 'VVC', 'BMS', 'CTWS', 'WTR', 'TYCB', 'HP',
       'MDP', 'UTX', 'ROST', 'SKT', 'UBA', 'RTX', 'EV'], dtype='<U32')

In [42]:
kept_status = np.array(list(set(kept_status)))
kept_status = np.array(list(set(kept_status).difference(lost_status)))
kept_status

array(['MSA', 'SWK', 'GRC', 'FFMR', 'BDX', 'ALB', 'WBA', 'ECL', 'LOW',
       'BMI', 'MSEX', 'JNJ', 'EXPD', 'MO', 'NJR', 'MATW', 'SPGI', 'TGT',
       'ATR', 'BANF', 'WEYS', 'MCY', 'RNR', 'RLI', 'CFR', 'ROP', 'PEP',
       'PNR', 'CINF', 'SYK', 'ENB', 'MDT', 'EFSI', 'AFL', 'NEE', 'UMBF',
       'PG', 'SHW', 'BRO', 'MCD', 'ITW', 'FELE', 'FUL', 'GD', 'MMM',
       'SON', 'TMP', 'UVV', 'PBCT', 'MGRC', 'CSL', 'AWR', 'LANC', 'TRI',
       'CVX', 'WMT', 'ATO', 'DOV', 'ABM', 'NC', 'SEIC', 'CLX', 'SCL',
       'ERIE', 'TR', 'GPC', 'LIN', 'PSBQ', 'TNC', 'FRT', 'CWT', 'KMB',
       'RPM', 'OZK', 'SJW', 'DCI', 'ED', 'CHD', 'CNI', 'CPKF', 'XOM',
       'VFC', 'NNN', 'WABC', 'UBSI', 'BKH', 'HRL', 'PII', 'NWN', 'NFG',
       'CL', 'PH', 'THFF', 'GWW', 'TDS', 'AROW', 'FMCB', 'ADP', 'CAT',
       'APD', 'NUE', 'CBSH', 'NIDB', 'UHT', 'CTBI', 'SRCE', 'LEG', 'MGEE',
       'WST', 'FLIC', 'AOS', 'ARTNA', 'O', 'EBTC', 'SYY', 'NDSN', 'MKC',
       'CBU', 'SBSI', 'ORI', 'WTRG', 'PPG', 'ESS', 'TROW', 'CTAS', 'BEN',
       'JKHY', 'BRC', 'T', 'EMR', 'CSVI', 'UGI', 'MDU', 'IBM', 'LECO',
       'ADM', 'KO'], dtype='<U5')

In [43]:
lost_status_date

[('2021', 9, array(['BXS'], dtype='<U5')),
 ('2021', 10, array(['BOH', 'LLY', 'TEG', 'TFX'], dtype='<U5')),
 ('2010', 6, array(['WSC'], dtype='<U5')),
 ('2010', 7, array(['IRET'], dtype='<U5')),
 ('2010', 11, array(['CTL'], dtype='<U5')),
 ('2011', 5, array(['HGIC'], dtype='<U5')),
 ('2011', 7, array(['WRE'], dtype='<U5')),
 ('2012', 12, array(['ABT', 'MHP', 'PBI'], dtype='<U5')),
 ('2012', 10, array(['DBD', 'EGN'], dtype='<U5')),
 ('2014', 1, array(['WAG'], dtype='<U5')),
 ('2014', 2, array(['FDO'], dtype='<U5')),
 ('2014', 11, array(['SIAL'], dtype='<U5')),
 ('2015', 1, array(['CB'], dtype='<U5')),
 ('2015', 5, array(['MHFI'], dtype='<U5')),
 ('2015', 9, array(['STR', 'RAVN'], dtype='<U5')),
 ('2015', 10, array(['PNY'], dtype='<U5')),
 ('2015', 11, array(['HCP'], dtype='<U5')),
 ('2016', 3, array(['CLC', 'LLTC'], dtype='<U5')),
 ('2016', 5, array(['VAL'], dtype='<U5')),
 ('2017', 12, array(['BCR'], dtype='<U5')),
 ('2017', 8, array(['WGL'], dtype='<U5')),
 ('2017', 11, array(['PX'], dtype='<U5')),
 ('2018', 2, array(['VVC'], dtype='<U5')),
 ('2018', 6, array(['BMS'], dtype='<U5')),
 ('2018', 10, array(['CTWS'], dtype='<U5')),
 ('2019', 2, array(['WTR'], dtype='<U5')),
 ('2019', 3, array(['TYCB'], dtype='<U5')),
 ('2019', 4, array(['HP', 'MDP', 'UTX'], dtype='<U5')),
 ('2019', 5, array(['ROST', 'SKT'], dtype='<U5')),
 ('2019', 6, array(['UBA'], dtype='<U5')),
 ('2019', 11, array(['RTX'], dtype='<U5')),
 ('2020', 3, array(['EV'], dtype='<U5'))]

In [33]:
np.save("kept_status", kept_status)
np.save("lost_status", lost_status)